{% extends "base_generic.html" %} {% block content %}
<div class="container-md">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="carousel-image"
          src="../static/images/17odsimagen.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          class="carousel-image"
          src="../static/images/17ods.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          class="carousel-image"
          src="../static/images/arbol.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="contenido">
    <div class="card mb-5">
      <div class="row">
        <div class="col-md-8 card-body">
          <h1>OBJETIVOS DE DESARROLLO SOSTENIBLE</h1>
          <p>
            Los Objetivos de Desarrollo Sostenible (ODS) constituyen un
            llamamiento universal a la acción para poner fin a la pobreza,
            proteger el planeta y mejorar las vidas y las perspectivas de las
            personas en todo el mundo. En 2015, todos los Estados Miembros de
            las Naciones Unidas aprobaron 17 Objetivos como parte de la Agenda
            2030 para el Desarrollo Sostenible, en la cual se establece un plan
            para alcanzar los Objetivos en 15 años.
          </p>
        </div>
        <div class="col-md-4">
          <img
            src="../static/images/eco bio.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="row">
        <div class="col-md-4">
          <img
            src="../static/images/Medioambiente.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8 card-body">
          <h2>Década de acción</h2>
          <p>
            Los Objetivos de Desarrollo Sostenible buscan erradicar la pobreza,
            proteger el planeta y asegurar la prosperidad para todos como parte
            de una nueva agenda 2030.
          </p>
          <p>
            Dado que quedan menos de diez años para alcanzar los Objetivos de
            Desarrollo Sostenible, en la Cumbre sobre los ODS celebrada en
            septiembre de 2019, los líderes mundiales solicitaron un decenio de
            acción y resultados en favor del desarrollo sostenible, y
            prometieron movilizar la financiación, mejorar la aplicación a nivel
            nacional y reforzar las instituciones para lograr los Objetivos en
            la fecha prevista, el año 2030, sin dejar a nadie atrás.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-8 card-body">
          <p>
            El Secretario General de las Naciones Unidas hizo un llamamiento
            para que todos los sectores de la sociedad se movilicen en favor de
            una década de acción en tres niveles: acción a nivel mundial para
            garantizar un mayor liderazgo, más recursos y soluciones más
            inteligentes con respecto a los Objetivos de Desarrollo Sostenible;
            acción a nivel local que incluya las transiciones necesarias en las
            políticas, los presupuestos, las instituciones y los marcos
            reguladores de los gobiernos, las ciudades y las autoridades
            locales; y acción por parte de las personas, incluidos la juventud,
            la sociedad civil, los medios de comunicación, el sector privado,
            los sindicatos, los círculos académicos y otras partes interesadas,
            para generar un movimiento imparable que impulse las
            transformaciones necesarias.
          </p>
        </div>
        <div class="col-md-4">
          <img
            src="../static/images/ods.jpeg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
