{% extends "base_generic.html" %}

{% block content %}
<div class="contenido">

    <h1>OBJETIVOS DE DESARROLLO SOSTENIBLE</h1>
    
    <p>Los Objetivos de Desarrollo Sostenible (ODS) constituyen un llamamiento universal a la acción para poner fin a la pobreza, proteger el planeta y mejorar las vidas y las perspectivas de las personas en todo el mundo. En 2015, todos los Estados Miembros de las Naciones Unidas aprobaron 17 Objetivos como parte de la Agenda 2030 para el Desarrollo Sostenible, en la cual se establece un plan para alcanzar los Objetivos en 15 años.</p>
    
    
    <h2>Década de acción</h2>
    <p>Los Objetivos de Desarrollo Sostenible buscan erradicar la pobreza, proteger el planeta y asegurar la prosperidad para todos como parte de una nueva agenda 2030.</p>
    <p>Dado que quedan menos de diez años para alcanzar los Objetivos de Desarrollo Sostenible, en la Cumbre sobre los ODS celebrada en septiembre de 2019, los líderes mundiales solicitaron un decenio de acción y resultados en favor del desarrollo sostenible, y prometieron movilizar la financiación, mejorar la aplicación a nivel nacional y reforzar las instituciones para lograr los Objetivos en la fecha prevista, el año 2030, sin dejar a nadie atrás.</p>
    <p>El Secretario General de las Naciones Unidas hizo un llamamiento para que todos los sectores de la sociedad se movilicen en favor de una década de acción en tres niveles: acción a nivel mundial para garantizar un mayor liderazgo, más recursos y soluciones más inteligentes con respecto a los Objetivos de Desarrollo Sostenible; acción a nivel local que incluya las transiciones necesarias en las políticas, los presupuestos, las instituciones y los marcos reguladores de los gobiernos, las ciudades y las autoridades locales; y acción por parte de las personas, incluidos la juventud, la sociedad civil, los medios de comunicación, el sector privado, los sindicatos, los círculos académicos y otras partes interesadas, para generar un movimiento imparable que impulse las transformaciones necesarias.</p>
    <div>
        Hola dasdasdsadas Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem blanditiis praesentium perspiciatis magnam impedit mollitia officiis molestias eius, minus corporis aperiam qui consectetur numquam, tempore sit molestiae asperiores amet quia?
    </div>  
</div>
    
{% endblock %}