{% extends "base_generic.html" %} {% block content %}
<div class="container-fluid">
  <h1 class="display-1 text-center" style="color: white">Todos los blogs</h1>

  {% if blog_list %}
  <div class="row" style="margin-top: 3rem">
    {% for blog in blog_list %}

    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          src="../../../{{blog.image_field}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ blog.name }}</h5>
          <p class="blog-card">
            Fecha:
            <a href="{{ blog.get_absolute_url }}" class="card-link"
              >({{blog.post_date}})</a
            >
          </p>
          <p class="blog-card">
            Autor:
            <a
              href="{% url 'blogs-by-author' blog.author.pk %}"
              class="card-link"
              >{{ blog.author }}</a
            >
          </p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  {% else %}
  <p>There are no blogs.</p>
  {% endif %}
</div>
{% endblock %}
